body {
  color: white;
  background: #3D7EAA;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(left, #FFE47A, #3D7EAA);
  background: linear-gradient(to right, #FFE47A, #3D7EAA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body{
-webkit-transition: all .8s ease;
-moz-transition: all .8s ease;
-ms-transition: all .8s ease;
-o-transition: all .8s ease;
transition: all .8s ease;
}

.card {
  background: transparent;
  margin: 50px auto;
  padding: 20px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.card-title {
  padding: 5px;
  margin: 20px auto 55px;
}

p.author {
  text-align: right;
  padding: 0 20px 0 0;
}